# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
env/
.streamlit
.vscode

# Streamlit
.streamlit/secrets.toml

# Временные файлы
*.tmp
*.log
*.pid
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Данные и секреты
*.csv
*.xlsx
.env
*.png
